<h2>Home page showing all products</h2>

<!-- Show all available products from the database -->

<% @products.each do |product| %>
<p><%= product.product_name %></p>
<% end %>

<a href="/order/:id">link to product 1</a>

<a href="/order/:id">link to product 2</a>