<h2>Home page showing all products</h2>

<!-- Show all available products from the database -->

<% @products.each do |product| %>
<p><%= product.product_name %></p>
<% end %>



<!-- implement link_to. Find out how refer to right path. they are not named yet. -->
