<h2>Home page showing all products</h2>

<!-- Show all available products from the database -->

<p><%= @products.first.product_name %></p>

<a href="/order/:id">link to product 1</a>

<a href="/order/:id">link to product 2</a>