<h2>Select your favourite shape</h2>

<!-- Show all available products from the database -->

<% @products.each do |product| %>
<ul>
    <%= link_to(product.product_name, customise_path(product)) %>
    <div>
    <a href='/order/<%=product.id%>'><img src='assets/<%=product.id%>.png'></a>
	</div>
</ul>
<% end %>
