body {
   margin: 0;
  padding-top: 4em	;
  padding-left: 3em;
 }

 img {
 	width: 30%;
 	height: 30%;
 }

 ul {
 	display: inline-block;
 }

 #checkout_button {
 	position: relative;
 	left: 2.7em;
 }

 .cust_select {
 	width: 150px;
 }

 #cust_form {
 	margin-top: 2em;
 	position: relative;

 }

 li {
 	list-style-type: none;
 }